h1 
	font 14px/1.5 Helvetica, arial, sans-serif
table
	width: 500px
	border-bottom: 1px solid silver
	tr
		td
			padding: 5px 10px	
			text-align:center
	tr:first-child
		font-weight:bold
		text-align:center
		border-bottom: 1px solid silver
